#root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.SwapiCard {
  width: 60vw;
  height: 50vh;
  background: #eee;
  border: 2px solid black;
  padding: 2rem 3rem;
  font-family: monospace;
}

.SwapiCard h1 {
  font-size: 2rem;
  color: #2a78e4;
  padding: 0;
  margin: 0;
}

.SwapiCard > * + * {
  margin-top: 1rem;
}

.button-group {
  box-sizing: border-box;
}

button {
  font-size: 1rem;
  background-color: #efefef;
  box-shadow: none;
  border: 1px solid black;
  padding: 0.25rem 0.75rem;
  font-family: monospace;
}

/* button + button {
  margin-left: 0.75rem;
} */

button.selected {
  background-color: #2a78e4;
  border-color: #2a78e4;
  color: #eee;
}

button:hover {
  background-color: #fff;
}

button.selected:hover {
  background-color: #2a78e4;
}

.flex-wrapper {
  display: flex;
  flex-direction: row;
}

.flex-wrapper > * {
  width: 100%;
}

.flex-wrapper > * + * {
  margin-left: 1rem;
}

.table-wrapper {
  background-color: #fff;
  padding: 0.25rem;
  max-height: 30vh;
  overflow-y: scroll;
}

table {
  width: 100%;
}

th {
  text-align: start;
  background-color: #ddd;
}

.table-wrapper th,
.table-wrapper td {
  padding: 0.5rem 0.75rem;
}

th + th,
td + td {
  text-align: center;
}

tr:hover {
  background-color: #eee;
}

tr.selected {
  background-color: #2a78e4;
  color: #eee;
}

.info-wrapper {
  display: flex;
  flex-direction: column;
}

.info-title {
  font-size: 1rem;
  margin-top: auto;
  margin-bottom: auto;
}

.info-item {
  margin-bottom: 0.75rem;
  font-size: 1rem;
  background-color: transparent;
  padding: 0.5rem 0.75rem;
  border: 1px solid black;
}

.info-message {
  padding: 0.5rem 0.75rem;
}
